@page
@using WebApplication3.Model;
@model WebApplication3.Pages.ForgotPasswordModel
@{
}

<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Forgot Password? </h1>

            <form method="post">
                <h3>Enter the email linked to your account.</h3>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <div class="mb-3">
                    <label class="form-label" asp-for="FPModel.Email">Email Address</label>
                    <input id="emailInput" type="Text" asp-for="FPModel.Email" class="form-control" />
                    <span asp-validaton-for="FPModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button id="verifyButton" type="submit" class="btn btn-primary">Verify</button>
                </div>
            </form>
        </div>
    </div>
</div>