@page
@model WebApplication3.Pages.errors._401Model
@{
    ViewData["title"] = "Access not authorised";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
    <p style="font-size: 50px; ">Unauthorised.</p>
    <p>You do not have the right access controls for this page.</p>
    <p>Please navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>