@page
@model WebApplication3.Pages.errors._408Model
@{
    ViewData["title"] = "Request timed out";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">408</h1>
    <p style="font-size: 50px; ">Request timed out.</p>
    <p>Took too long to connect to the server, please try again.</p>
    <p>Please navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>