@page
@model WebApplication3.Pages.errors._502Model
@{
    ViewData["title"] = "Bad gateway";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">502</h1>
    <p style="font-size: 50px; ">Bad gateway.</p>
    <p>There was an error connecting to the server, please try again later.</p>
    <p>Please navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>
