@page
@model WebApplication3.Pages.errors._504Model
@{
    ViewData["title"] = "Gateway timeout";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">504</h1>
    <p style="font-size: 50px; ">Gateway timeout.</p>
    <p>Server took too long to respond, please try again later.</p>
    <p>Please navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>

